In [103]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv("working_csv.csv")
df.head()

,P. Name,P. Zone Class,P. Mass Class,P. Composition Class,P. Atmosphere Class,P. Density (EU),P. Gravity (EU),P. Esc Vel (EU),P. SFlux Min (EU),P. SFlux Mean (EU),...,P. HZC,P. HZA,P. HZI,P. SPH,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed,P. Habitable Class
0,GJ 163 c,Warm,Superterran,rocky-iron,metals-rich,1.19,2.17,1.99,0.551557,0.663002,...,-0.14,0.81,0.53,0.08,0.73,0,1,0,1,psychroplanet
1,GJ 667 C e,Warm,Terran,rocky-iron,metals-rich,0.99,1.39,1.39,0.290249,0.302030,...,-0.16,0.23,0.63,0.00,0.60,0,1,0,0,psychroplanet
2,GJ 667 C f,Warm,Terran,rocky-iron,metals-rich,0.99,1.39,1.39,0.530653,0.563207,...,-0.16,0.08,0.78,0.00,0.77,0,1,0,0,psychroplanet
3,GJ 682 c,Warm,Superterran,rocky-iron,hydrogen-rich,1.24,2.37,2.13,0.302060,0.367301,...,-0.14,1.19,0.45,0.00,0.59,0,1,0,0,psychroplanet
4,GJ 3293 d,Warm,Superterran,rocky-iron,metals-rich,1.20,2.22,2.03,0.447687,0.565605,...,-0.14,0.91,0.52,0.00,0.70,0,1,0,1,psychroplanet

In [105]:
df.shape

(54, 41)

In [106]:
y = df["P. Habitable Class"]

X = df.select_dtypes(include=['float64','int64'])

X.head()

,P. Density (EU),P. Gravity (EU),P. Esc Vel (EU),P. SFlux Min (EU),P. SFlux Mean (EU),P. SFlux Max (EU),P. Teq Max (K),P. Mag,P. Appar Size (deg),P. Eccentricity,...,P. HZD,P. HZC,P. HZA,P. HZI,P. SPH,P. ESI,S. HabCat,P. Habitable,P. Hab Moon,P. Confirmed
0,1.19,2.17,1.99,0.551557,0.663002,0.804139,241.3,-18.05,3.48,0.09,...,-0.34,-0.14,0.81,0.53,0.08,0.73,0,1,0,1
1,0.99,1.39,1.39,0.290249,0.302030,0.314420,190.8,-16.59,2.65,0.02,...,0.51,-0.16,0.23,0.63,0.00,0.60,0,1,0,0
2,0.99,1.39,1.39,0.530653,0.563207,0.598314,224.1,-17.28,2.65,0.03,...,-0.22,-0.16,0.08,0.78,0.00,0.77,0,1,0,0
3,1.24,2.37,2.13,0.302060,0.367301,0.451184,208.8,-17.51,3.64,0.10,...,0.23,-0.14,1.19,0.45,0.00,0.59,0,1,0,0
4,1.20,2.22,2.03,0.447687,0.565605,0.725100,235.1,-17.91,3.52,0.12,...,-0.21,-0.14,0.91,0.52,0.00,0.70,0,1,0,1

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [108]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [109]:
y_pred = classifier.predict(X_test)

In [110]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[5 0 0]
 [0 6 0]
 [0 0 6]]
               precision    recall  f1-score   support

   mesoplanet       1.00      1.00      1.00         5
non-habitable       1.00      1.00      1.00         6
psychroplanet       1.00      1.00      1.00         6

     accuracy                           1.00        17
    macro avg       1.00      1.00      1.00        17
 weighted avg       1.00      1.00      1.00        17